body{
    margin: 100px auto;
    text-align: center;
}

h1{
    color: cadetblue;
}

.result{
    font-size: 25px;
}

button{
    margin-top: 100px;
    border: 0;
    padding: 10px;
}

























